<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<div class="container">
    <div th:each="a : ${authors}">
        <div th:text="${a.name}"></div>

    <div>
        <form th:action="@{/editauthor/{id}(id = ${a.id})}" method="get">
            <input type="submit" value="Edit" />
        </form>
    </div>
    <div>
        <form th:action="@{/deleteauthor/{id}(id = ${a.id})}" method="get">
            <input th:class="delete-button-chat-rooms-form" type="submit" value="Delete"/>
        </form>
    </div>
    </div>
</div>
<div>
    <form th:action="@{/createauthor}" method="GET">
        <input type="submit" value="Create Author"/>
    </form>
</div>
</body>
</html>