<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="container">
    <table th:class="highlight">
        <thead>
        <div class="row">
            <h5>List of authors</h5>
        </div>
        <tr>
            <td class="thead-text">
                <p><b>Author's first name</b></p>
            </td>
            <td class="thead-text">
                <p><b>Author's middle name</b></p>
            </td>
            <td class="thead-text">
                <p><b>Author's last name</b></p>
            </td>
            <td class="thead-text"><p><b>Action</b></p></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${author}">
            <td th:text="${a.authorFirstName}"></td>
            <br>
            <td th:text="${a.authorMiddleName}"></td>
            <br>
            <td th:text="${a.authorLastName}"></td>
            <td>
                <a th:href="@{/editauthor/{id} (id = ${a.authorId})}">
                    <i>Edit</i>
                </a>
                <a th:href="@{/deleteauthor/{id} (id = ${a.authorId})}">
                    <i>Delete</i>
                </a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
<hr>
<div th:class="container">
    <a th:href="@{/createauthor}">
        <i>Create Author</i>
    </a>
</div>
</body>
</html>