<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Author</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="row">
    <form name="createAuthor" th:action="@{/createauthor}"
          th:object="${author}" method="post">
        <div class="container">
            <div class="row"><h4>Create an author</h4></div>
            <br>
            <div class="row">
                <label for="firstName"><b>Author's first name</b></label>
                <input th:field="*{authorFirstName}" id="firstName" type="text"
                       placeholder="Author First Name..." required/>
            </div>
            <div class="row">
                <label for="middleName"><b>Author's middle name</b></label>
                <input th:field="*{authorMiddleName}" id="middleName" type="text"
                       placeholder="Author Middle Name..." />
            </div>
            <div class="row">
                <label for="lastName"><b>Author's last name</b></label>
                <input th:field="*{authorLastName}" id="lastName" type="text"
                       placeholder="Author Last Name..." required/>
            </div>
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </div>
    </form>
</div>
</body>
</html>