<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--jQuery-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/main.css}" xmlns:th="http://www.thymeleaf.org"/>
    <meta charset="UTF-8">
    <title>Create Author</title>
    <script th:fragment="nav_script" xmlns:th="http://www.thymeleaf.org">
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</head>
<body th:style="'background-image:url(' + @{/img/428760-Kycb_3840x2400.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<nav th:fragment="menu_nav" xmlns:th="http://www.thymeleaf.org">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul class="right hide-on-med-and-down">
                    <li><a style="font-weight:bold; color: whitesmoke" th:href="@{/}">Home</a></li>
                    <li><a style="font-weight:bold; color: whitesmoke" th:href="@{/authors}">Authors</a></li>
                    <li><a style="font-weight:bold; color: whitesmoke" th:href="@{/books}">Books</a></li>
                    <li><a style="font-weight:bold; color: whitesmoke" th:href="badges.html">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
</nav>
<ul th:fragment="mobile_nav" xmlns:th="http://www.thymeleaf.org" class="sidenav" id="mobile-demo">
    <li><a style="font-weight:bold; color: whitesmoke" th:href="@{/}">Home</a></li>
    <li><a style="font-weight:bold; color: whitesmoke" th:href="@{/authors}">Authors</a></li>
    <li><a style="font-weight:bold; color: whitesmoke" th:href="@{/books}">Books</a></li>
    <li><a style="font-weight:bold; color: whitesmoke" th:href="badges.html">Logout</a></li>
</ul>
<!--Test-->
<div class="row">
    <form name="createAuthor" th:action="@{/createauthor}"
          th:object="${author}" method="post">
        <div class="container">
            <h5 align="left">
                <strong>Create author</strong>
            </h5>
            <div class="row">
                <label style="color:black" for="firstName"><b>Author's first name</b></label>
                <input th:field="*{authorFirstName}" id="firstName" type="text" class="validate"
                       maxlength="20" placeholder="Please fill in..." required/>
                <div id="firstNameTextRemainingChars">20 characters remaining</div>
            </div>
            <div class="row">
                <label style="color:black" for="middleName"><b>Author's middle name</b></label>
                <input th:field="*{authorMiddleName}" id="middleName" type="text" class="validate"
                       maxlength="20" placeholder="Please fill in..." required/>
                <div id="middleNameTextRemainingCharacters">20 characters remaining</div>
            </div>
            <div class="row">
                <label style="color:black" for="lastName"><b>Author's last name</b></label>
                <input th:field="*{authorLastName}" id="lastName" type="text" class="validate"
                       maxlength="20" placeholder="Please fill in..." required/>
                <div id="lastNameTextRemainingCharacters">20 characters remaining</div>
            </div>
            <button th:class="button" type="submit"><span>Save</span></button>
        </div>
    </form>
</div>
<script>
    const firstName = document.getElementById('firstName');
    const firstNameTextRemainingChars = document.getElementById('firstNameTextRemainingChars');
    const MAX_CHARS = 20;
    firstName.addEventListener('input', () => {
        const remaining = MAX_CHARS - firstName.value.length;
        const color = remaining < MAX_CHARS * 0.1 ? 'red' : null;
        firstNameTextRemainingChars.textContent = `${remaining} characters remaining`;
        firstNameTextRemainingChars.style.color = color;
    })

</script>
<script>
    const middleName = document.getElementById('middleName');
    const middleNameTextRemainingCharacters = document.getElementById('middleNameTextRemainingCharacters');
    const MAX_CHARS_MIDDLE_NAME = 20;
    middleName.addEventListener('input', () => {
        const REMAINING_MIDDLE_NAME = MAX_CHARS_MIDDLE_NAME - middleName.value.length;
        const COLOR_MIDDLE_NAME = REMAINING_MIDDLE_NAME < MAX_CHARS * 0.1 ? 'red' : null;
        middleNameTextRemainingCharacters.textContent = `${REMAINING_MIDDLE_NAME} characters remaining`;
        middleNameTextRemainingCharacters.style.color = COLOR_MIDDLE_NAME;
    })

</script>
<script>
    const lastName = document.getElementById('lastName');
    const lastNameTextRemainingCharacters = document.getElementById('lastNameTextRemainingCharacters');
    const MAX_CHARS_LAST_NAME = 20;
    lastName.addEventListener('input', () => {
        const REMAINING_LAST_NAME = MAX_CHARS_LAST_NAME - lastName.value.length;
        const COLOR_LAST_NAME = REMAINING_LAST_NAME < MAX_CHARS_LAST_NAME * 0.1 ? 'red' : null;
        lastNameTextRemainingCharacters.textContent = `${REMAINING_LAST_NAME} characters remaining`;
        lastNameTextRemainingCharacters.style.color = COLOR_LAST_NAME;
    })

</script>
</body>
</html>