<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit Author</title>
</head>
<body>
<div class="container">
    <form name="edit_author" th:action="@{/editauthor/{id}(id = ${author.authorId})}" th:object="${author}"
          method="post">
        <table>
        <tr>
            <td><p>Author's First Name</p></td>
            <td><input th:field="*{authorFirstName}" id="author_first_name" type="text" placeholder="Edit first name..."
                       required/>
            </td>
        </tr>
        <tr>
            <td><p>Author's Middle Name</p></td>
            <td><input th:field="*{authorMiddleName}" id="author_middle_name" type="text"
                       placeholder="Edit middle name..."
                       required/></td>
        </tr>
        <tr>
            <td><p>Author's Last Name</p></td>
            <td><input th:field="*{authorLastName}" id="author_last_name" type="text" placeholder="Edit last name..."
                       required/>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
        </table>
    </form>
</div>
</body>
</html>