<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit Author</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}" xmlns:th="http://www.thymeleaf.org"/>

</head>
<body>
<div class="row">
    <!--    it creates new data instead of updating it-->
    <form class="col s12" name="edit_author" th:action="@{/editauthor/{id}(id = ${author.authorId})}"
          th:object="${author}"
          method="post">
        <input type="hidden" th:field="*{authorId}"/>

        <div class="container">
            <div class="row">
                <h5>Edit author</h5>
            </div>
            <br>
            <div class="row">
                <div class="input-field col s12">
                    <label class="active" for="firstName"><b>Author's first name</b></label>
                    <input th:field="*{authorFirstName}" id="firstName" type="text" class="validate"
                           maxlength="20" placeholder="Edit first name..."
                           required/>
                    <div id="editFormFirstNameRemainingCharacters">20 characters remaining</div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label class="active" for="middleName"><b>Author's middle name</b></label>
                    <input th:field="*{authorMiddleName}" id="middleName" type="text" class="validate"
                           maxlength="20" placeholder="Edit middle name..." required/>
                    <div id="editFormMiddleNameRemainingCharacters">20 characters remaining</div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label class="active" for="lastName"><b>Author's last name</b></label>
                    <input th:field="*{authorLastName}" id="lastName" type="text" class="validate"
                           maxlength="20" placeholder="Edit last name..."
                           required/>
                    <div id="editFormLastNameRemainingCharacters">20 characters remaining</div>
                </div>
            </div>
            <tr>
                <td>
                    <button th:class="button" type="submit"><span>Save</span></button>
                </td>
            </tr>
        </div>
    </form>
</div>
<script>
    const firstName = document.getElementById('firstName');
    const editFormFirstNameRemainingCharacters = document.getElementById('editFormFirstNameRemainingCharacters');
    const MAX_CHARS = 20;
    firstName.addEventListener('input', () => {
        const remaining = MAX_CHARS - firstName.value.length;
        const color = remaining < MAX_CHARS * 0.1 ? 'red' : null;
        editFormFirstNameRemainingCharacters.textContent = `${remaining} characters remaining`;
        editFormFirstNameRemainingCharacters.style.color = color;
    })
</script>
<script>
    const middleName = document.getElementById('middleName');
    const editFormMiddleNameRemainingCharacters = document.getElementById('editFormMiddleNameRemainingCharacters');
    const MAX_CHARS_MIDDLE_NAME = 20;
    middleName.addEventListener('input', () => {
        const REMAINING_MIDDLE_NAME_CHARACTERS = MAX_CHARS_MIDDLE_NAME - middleName.value.length;
        const COLOR_MIDDLE_NAME = REMAINING_MIDDLE_NAME_CHARACTERS < MAX_CHARS_MIDDLE_NAME * 0.1 ? 'red' : null;
        editFormMiddleNameRemainingCharacters.textContent = `${REMAINING_MIDDLE_NAME_CHARACTERS} characters remaining`;
        editFormMiddleNameRemainingCharacters.style.color = COLOR_MIDDLE_NAME;
    })
</script>
<script>
    const lastName = document.getElementById('lastName');
    const editFormLastNameRemainingCharacters = document.getElementById('editFormLastNameRemainingCharacters');
    const MAX_CHARS_LAST_NAME = 20;
    lastName.addEventListener('input', () => {
        const REMAINING_LAST_NAME_CHARACTERS = MAX_CHARS_LAST_NAME - lastName.value.length;
        const COLOR_LAST_NAME = REMAINING_LAST_NAME_CHARACTERS < MAX_CHARS_LAST_NAME * 0.1 ? 'red' : null;
        editFormLastNameRemainingCharacters.textContent = `${REMAINING_LAST_NAME_CHARACTERS} characters remaining`;
        editFormLastNameRemainingCharacters.style.color = COLOR_LAST_NAME;
    })
</script>
</body>
</html>