<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit Author</title>
</head>
<body>
<div class="container">
    <form th:action="@{/editauthor/{id}(id = ${author.authorId})}" th:object="${author}" method="post">
        <div><p>Edit author</p></div>
        <input th:field="*{authorId}" type="hidden"/>
        <input th:field="*{authorFirstName}" id="author_first_name" type="text" placeholder="Edit first name..." required/>
        <br>
        <input th:field="*{authorMiddleName}" id="author_middle_name" type="text" placeholder="Edit middle name..." required/>
        <br>
        <input th:field="*{authorLastName}" id="author_last_name" type="text" placeholder="Edit last name..." required/>
        <br>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>