<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>View Books</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}" xmlns:th="http://www.thymeleaf.org"/>

</head>
<!--further implementations-->
<body>
<div class="container">
    <table th:class="highlight">
        <thead>
            <h5>Books</h5>
        <tr>
            <th class="thead-text">
                <p>
                    <b>Name</b>
                </p>
            </th>
            <th class="thead-text">
                <p>
                    <b>Genre</b>
                </p>
            </th>
            <th class="thead-text">
                <p>
                    <b>Release</b>
                </p>
            </th>
            <th class="thead-text">
                <p>
                    <b>Language</b>
                </p>
            </th>
            <th class="thead-text">
                <p>
                    <b>Action</b>
                </p>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.bookName}"></td>
            <td th:text="${book.bookGenre}"></td>
            <td th:text="${book.bookYearRelease}"></td>
            <td th:text="${book.bookLanguage}"></td>
            <td>
                <a th:href="@{/editbooks/{id} (id = ${book.bookId})}">
                    <i class="material-icons">edit</i>
                </a>
                <a th:href="@{/deletebooks/{id}(id = ${book.bookId})}"
                   onclick="return confirm('Are you sure you want to delete this item?');">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <a th:href="@{/createbooks}">
        <i class="material-icons">library_add</i>
    </a>
</div>
</body>
</html>