<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<div class="container">
    <div>
        <p>
            A list of books.
        </p>
    </div>
    <table>
        <thead>
        <tr>
            <td class="thead-text"> Book Name</td>
            <td class="thead-text"> Action</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${book}">
            <td th:text="${b.bookName}"></td>
            <td th:text="${b.author}"></td>
            <td th:text="${b.genre}"></td>
            <td>
                <a th:href="@{/editbook/{id} (id=${b.bookId})}"></a>
                <i>Edit</i>
            </td>
            <td>
                <a th:href="@{/deletebook/{id} (id=${b.bookId})}"></a>
                <i>Delete</i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <a th:href="@{/createbook}">
        <i>Create Book</i>
    </a>
</div>
</body>
</html>