<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <p>
            A list of books.
        </p>
    </div>
    <table>
        <thead>
        <tr>
            <td class="thead-text"> Book Name</td>
            <td class="thead-text"> Action</td>
        </tr>
        </thead>
        <tbody>
<!--            <tr th:each="b : ${book}">-->

            </tr>
        </tbody>
    </table>
</div>
</body>
</html>