<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}" xmlns:th="http://www.thymeleaf.org"/>
</head>
<body>
<div class="row">
    <form name="createbooks" th:action="@{/createbooks}"
          th:object="${books}" method="post">
        <div class="container">
            <div class="row"><h5>Create books</h5></div>
            <br>
            <div class="row">
                <label for="bookName"><p><b>Name</b></p></label>
                <input th:field="*{bookName}" id="bookName" type="text" class="validate"
                       maxlength="20" placeholder="Book name..." required/>
                <div id="bookNameTextRemainingCharacters">20 characters remaining</div>
            </div>
            <div class="row">
                <label for="bookGenre"><p><b>Genre</b></p></label>
                <input th:field="*{bookGenre}" id="bookGenre" type="text" class="validate"
                       maxlength="20" placeholder="Book genre..."/>
                <div id="bookGenreTextRemainingCharacters">20 characters remaining</div>
            </div>
            <div class="row">
                <label for="bookYearRelease"><p><b>Release</b></p></label>
                <input th:field="*{bookYearRelease}" id="bookYearRelease" type="number" class="validate"
                       maxlength="20" placeholder="Book release..."/>
                <div id="bookYearReleaseRemainingCharacters">20 characters remaining</div>
            </div>
            <div class="row">
                <label for="bookLanguage"><p><b>Language</b></p></label>
                <input th:field="*{bookLanguage}" id="bookLanguage" type="text" class="validate"
                       maxlength="20" placeholder="Book language..."/>
                <div id="bookLanguageRemainingCharacters">20 characters remaining</div>
            </div>
            <tr>
                <td>
                    <button th:class="button" type="submit"><span>Save</span></button>
                </td>
            </tr>
        </div>
    </form>
</div>
</body>
</html>