<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Books</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--jQuery-->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}" xmlns:th="http://www.thymeleaf.org"/>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });

    </script>
</head>
<body>
<div class="row">
    <form name="createbooks" th:action="@{/createbooks}"
          th:object="${books}" method="post">
        <input type="hidden" th:field="*{bookId}"/>
        <div class="container">
            <div class="row"><h5>Create books</h5></div>
            <br>
            <div class="row">
                <label for="bookName"><b>Name</b></label>
                <input th:field="*{bookName}" id="bookName" type="text" class="validate"
                       maxlength="20" placeholder="Book name..." required/>
                <div id="bookNameTextRemainingCharacters">20 characters remaining</div>
            </div>
            <div class="row">
                <label for="bookGenre"><b>Genre</b></label>
                <input th:field="*{bookGenre}" id="bookGenre" type="text" class="validate"
                       maxlength="20" placeholder="Book genre..." required/>
                <div id="bookGenreTextRemainingCharacters">20 characters remaining</div>
            </div>
            <div class="row">
                <label for="bookYearRelease"><b>Release</b></label>
                <input th:field="*{bookYearRelease}" id="bookYearRelease" type="date" pattern="dd-MM-yyyy"
                       class="validate"
                       placeholder="Book release..." required/>
            </div>
            <div class="row">
                <label for="bookLanguage"><b>Language</b></label>
                <input th:field="*{bookLanguage}" id="bookLanguage" type="text" class="validate"
                       maxlength="20" placeholder="Book language..." required/>
                <div id="bookLanguageTextRemainingCharacters">20 characters remaining</div>
            </div>
            <div class="row">
                <div>
                    <label for="author"><b>Select author</b></label>
                    <select id="author" th:field="*{author.authorId}">
                        <option th:each="at : ${authors}" th:value="${at.authorId}"
                                th:text="${at.authorFirstName + ' ' + at.authorMiddleName + ' ' + at.authorLastName}"></option>
                    </select>
                    <label for="author"><b>Author</b></label>
                </div>
            </div>
            <button th:class="button" type="submit"><span>Save</span></button>
        </div>
    </form>
</div>
<script>
    const bookName = document.getElementById('bookName');
    const bookNameTextRemainingCharacters = document.getElementById('bookNameTextRemainingCharacters');
    const bookNameMaxCharacters = 20;
    bookName.addEventListener('input', () => {
        const bookNameRemainingCharacters = bookNameMaxCharacters - bookName.value.length;
        const bookNameColor = bookNameRemainingCharacters < bookNameMaxCharacters * 0.1 ? 'red' : null;
        bookNameTextRemainingCharacters.textContent = `${bookNameRemainingCharacters} characters remaining`;
        bookNameTextRemainingCharacters.style.color = bookNameColor;
    })

</script>
<script>
    const bookGenre = document.getElementById('bookGenre');
    const bookGenreTextRemainingCharacters = document.getElementById('bookGenreTextRemainingCharacters');
    const bookGenreMaxCharacters = 20;
    bookGenre.addEventListener('input', () => {
        const bookGenreRemainingCharacters = bookGenreMaxCharacters - bookGenre.value.length;
        const bookGenreColor = bookGenreRemainingCharacters < bookGenreMaxCharacters * 0.1 ? 'red' : null;
        bookGenreTextRemainingCharacters.textContent = `${bookGenreRemainingCharacters} characters remaining`;
        bookGenreTextRemainingCharacters.style.color = bookGenreColor;
    })

</script>
<script>
    const bookLanguage = document.getElementById('bookLanguage');
    const bookLanguageTextRemainingCharacters = document.getElementById('bookLanguageTextRemainingCharacters');
    const bookLanguageMaxCharacters = 20;
    bookLanguage.addEventListener('input', () => {
        const remainingBookLanguageCharacters = bookLanguageMaxCharacters - bookLanguage.value.length;
        const bookLanguageColor = remainingBookLanguageCharacters < bookLanguageMaxCharacters * 0.1 ? 'red' : null;
        bookLanguageTextRemainingCharacters.textContent = `${remainingBookLanguageCharacters} characters remaining`;
        bookLanguageTextRemainingCharacters.style.color = bookLanguageColor;
    })

</script>
</body>
</html>