<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Register</h2>
<div class="form">
    <form th:action="@{/user/registration}" method="post">
        <label for="firstname">Firstname</label>
        <input type="text" id="firstname" name="firstname" required/>

        <label for="lastname">Lastname</label>
        <input type="text" id="lastname" name="lastname" required/>

        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="text" id="password" name="password" required/>

        <label for="confirmpassword">Confirm password</label>
        <input type="text" id="confirmpassword" name="confirmpassword" required/>
    </form>

    <a th:href="@{/login.html}">Login</a>
</div>
</body>
</html>